.container00 {
  &.container01 {
    background-image: $imagem1;
  }

  &.container02 {
    background-image: $imagem3;

  }

  &.container03 {
    background-image: $imagem2;
  }

  &.container04 {
    background-image: $imagem4;
  }
}

.titlePadding {
  padding-top: 200px;
}

.shortTitle {
  width: 550px;
  margin-bottom: 25px;
}

.mediumTitle {
  width: 650px;
  margin-bottom: 25px;
}


.footer {
  background-color: #000;
  height: 15vh;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $link-hover;
    }
  }

  .copyOBC {
    color: $copy-color;
  }
}